.profile-main-content {
    width: 50%;
    height: 100vh;
    margin: auto;
    overflow-y: scroll;
    background-color: #fcfcfc;
}

.profile-main-content::-webkit-scrollbar {
    width: 8px;
}

.profile-main-content::-webkit-scrollbar-track {
    border-radius: 4px;

}

.profile-main-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

.main-content-header {
    width: 100%;
    height: 40px;
    padding: 0 25px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.mobile-main-content-header {
    display: none;
}

.main-content-header > .main-content-title {
    font-size: 14px;
    font-style: italic;
}

@media only screen and (max-width: 800px) { 
    .profile-main-content {
        width: 70%;
    }

    .mobile-header-nav {
        display: block;
    }
}

@media only screen and (max-width: 540px) { 
    .profile-main-content {
        width: 100%;
    }

    .main-content-header {
        display: none;
    }

    .mobile-main-content-header {
        position: relative;
        display: block;
    }

    .mobile-main-content-header > .navigation-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
    }

    .mobile-main-content-header > .navigation-bar {
        position: inherit;
        width: 100%;
        height: 45px;
    }

    .mobile-main-content-header > .navigation-bar > .navigation {
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: white;
    }

    .mobile-main-content-header > .navigation-bar > .sideBar-nav-filter {
        display: block;
        color: #ccc;
    }

    .mobile-main-content-header > .navigation-bar > .sideBar-nav-filter:hover {
        color: #6400e1;
        transition-duration: 0.4s;
    }
    
}