.education-input-section {
    display: block;
    width: 95%;
    margin: auto;
}

.edit-delete-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit-delete-container >.edit-icon {
    color: #ccc;
}

.edit-delete-container > .hide-edit-icon {
    display: none;
}

.education-information {
    width: 100%;
    margin: 15px auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.education-information > input {
    width: 33%;
    height: 45px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.education-date {
    width: 60%;
    display: flex;
    align-items: center;
}

.education-date > div {
    margin: 0 15px;
}

.education-date > input {
    /* width: 40%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0; */
    width: 150px;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-bottom: 2px solid #f0f0f0;
}

.education-date > input:focus {
    border-bottom: 2px solid #6400e1;
    transition-duration: 0.4s;
}

.education-input-section > .add-save-button {
    color: white;
    width: 70px;
    height: 45px;
    padding: 15px;
    margin-top: 15px;
    border: none;
    background-color: #6400e1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.education-input-section > .hide-save-btn {
    display: none;
}