.resume-edit-section {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.resume-edit-intro {
    height: 100%;
}

.resume-edit-intro > .resume-intro-container {
    margin-bottom: 50px;
}

.resume-edit-title {
    font-size: 18px;
    font-weight: bold;
    color: #6400e1;
    padding-left: 25px;
    letter-spacing: 1px;
    margin-top: 75px;
    margin-bottom: 15px;
}

.edit-introduction {
    display: block;
    width: 90%;
    height: 300px;
    padding: 15px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.intro-save-button {
    color: white;
    width: 75px;
    height: 35px;
    margin: 15px auto;
    margin-left: 25px;
    border: none;
    background-color: #6400e1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.intro-save-button:hover {
    opacity: 0.9;
}

.button-option-container {
    margin: 15px 0;
}

.button-option-container > .add-save-button {
    color: white;
    width: 100px;
    height: 45px;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: #6400e1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.add-save-button:hover {
    opacity: 0.9;
}

@media only screen and (max-width: 540px) {
    .edit-introduction {
        width: 95%;
        height: 175px;
        font-size: 16px;
    }

}