.checkBox-component {
    width: 100%;
    height: 20px;
    padding: 12px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* .checkBox-component > .checkbox {
} */

.checkBox-component > span {
    color: #7f887f;
    font-size: 13.5px;
}

.checkBox-component > div {
    color: #7f887f;
    font-size: 12px;
}