.filterList {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    margin-top: 35px;
    overflow-x: auto;
}

.filterList::-webkit-scrollbar {
    display: none;
}

.filterList > select {
    font-size: 14px;
    padding: 10px;
    margin: 15px;
    border: 2px solid #ccc;
}

/* .filterList > select > option {
    text-align: center;
    height: 45px;
} */