.resume-repeat-custom-container {
    margin: 25px auto;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-header > .section-title {
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
}

.section-header > .section-location {
    font-size: 12px;
    padding-right: 5px;
}

.section-header > .section-occupation {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.section-period  {
    color: #7f808c;
    font-size: 11px;
    padding: 5px 0;
}

.section-desc  {
    color: #7f808c;
    font-size: 12px;
    padding: 1px 0;
}