.employer-home {
    min-height: calc(100vh - 55px);
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
}

.filter-search-title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 0 0;
}

.employer-home-filter {
    width: 15%;
    height: 100%;
    background-color: white;
    border-top: 1px solid #f0f0f0;
}

.employer-home-candidates {
    margin-top: 15px;
    margin-left: 2.5%;
}

.employer-home-resume, .show-employer-home-resume {
    position: fixed;
    right: 5%;
    display: block;
    width: 40%;
    height: calc(100vh - 185px);
    margin: 15px auto 15px auto;
    overflow-y: auto;
    background-color: white;
}   

.employer-home-resume::-webkit-scrollbar {
    width: 10px;
}

.employer-home-resume::-webkit-scrollbar-track {
    border-radius: 4px;
}

.employer-home-resume::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

.dashboard-resume-close-icon {
    display: none;
}

@media only screen and (max-width: 1175px) {
    .employer-home-resume {
        width: 45%;
    }
}

@media only screen and (max-width: 1010px) {
    .employer-home-resume {
        right: 15px;
    }
}

@media only screen and (max-width: 950px) {
    .employer-home-candidates {
        margin: 15px auto;
    }

    .employer-home-resume, .show-employer-home-resume {
        bottom: -100%;
        right: 0;
    }

    .show-employer-home-resume {
        width: 100%;
        height: 100vh;
        margin: 0;
        bottom: 0;
    }

    .dashboard-resume-close-icon {
        display: flex;
        font-size: 28px;
        align-items: center;
        justify-content: flex-end;
        margin: 15px 15px 0 0; 
    }
}
