.search-nav {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search-nav-logo {
    width: 50%;
    font-size: 28px;
    font-weight: 400;
    margin-left: 15px;
}

.mobile-map-view_icon {
    display: none;
}

.search-nav-icons {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.search-icon {
    color: #ccc;
}

.search-icon:hover {
    color: #6400e1;
}

/* .active > .search-icon {
    color: #6400e1;
} */

@media only screen and (max-width: 540px) {
    .search-nav {
        position: sticky;
        top: 0;
    }
}


