.job-desc, .show-job-desc {
    width: 49%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
}

.show-job-desc::-webkit-scrollbar {
    width: 10px;
}

.show-job-desc::-webkit-scrollbar-track {
    border-radius: 7px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255);
}

.show-job-desc::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #cacaca;
}

/* .job-desc::-webkit-scrollbar, .show-job-desc::-webkit-scrollbar {
    display: none;
}
 */
.job-desc > .job-desc-close-icon, .show-job-desc > .job-desc-close-icon {
    display: none;
}

.company-header {
    padding: 15px;
}

.company-header > img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: auto;
}

.company-header > .company-name {
    margin: 15px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.company-job-desc, .company-job-qualification, .company-job-requirement {
    padding: 15px;
}

.desc-title, .qualification-title, .requirement-title {
    font-size: 15px;
    font-weight: 599;
    letter-spacing: 1px;
}

.desc-content, .qualification-content, .requirement-content {
    color: #7f808c;
    font-size: 13px;
    line-height: 20px;
    padding: 15px;
}

.apply-btn > button {
    cursor: pointer;
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6400e1;
    padding: 6px 18px;
    margin: 15px auto;
    margin-bottom: 25px;
    border: 2px solid #6400e1;
    background-color: white;
}

.apply-btn > button:hover {
    color: white;
    background-color: #6400e1;
    transition-duration: 0.4s;
}

.applied-status {
    display: block;
    text-align: center;
    text-decoration: underline;
    margin: 15px;
}

@media only screen and (max-width: 902px) { 
    .job-desc {
        position: absolute;
        width: 60%;
        height: calc(100vh - 100px);
        bottom: -100%;
        transition-duration: 0.4s;
    }   

    .show-job-desc {
        position: absolute;
        width: 65%;
        height: calc(100vh - 100px);
        bottom: 0;
        transition-duration: 0.4s;
        background-color: white;
    }   

    .show-job-desc > .job-desc-close-icon {
        display: block;
        padding: 15px 0 0 15px;
    }
}

/* @media only screen and (max-width: 540px) {
    .job-desc {
        width: 85%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }   

    .show-job-desc {
        width: 85%;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
} */

@media only screen and (max-width: 675px) {
    .job-desc {
        width: 95%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }   

    .show-job-desc {
        width: 100%;
        height: calc(100vh - 45px);
        padding: 15px 15px 125px 15px;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .show-job-desc > .job-desc-close-icon {
        position: relative;
    }
}