.show-map-comp {
    width: 60%;
    height: 100vh;
    left: 0;
    background-color: white;
}

.hide-map-comp {
    position: absolute;
    left: -100%;
}


.map-container {
    height: 400px;
}

@media only screen and (max-width: 995px) {
    .show-map-comp {
        position: absolute;
        width: 100%;
        height: calc(100vh - 45px);
        bottom: 0px;
        transition-duration: 0.2s;
    }
    
    .hide-map-comp {
        position: absolute;
        width: 100%;
        bottom: -100%;
    }
}