.mappage {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.mappage-navbar {
    position: absolute;
    top: 0;
    width: 40%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mappage-logo {
    font-style: italic;
    font-size: 24px;
    font-weight: 500;
    flex: 1;
    padding-left: 15px;
}

.mappage-icons, .mappage-icons-active {
    color: #ccc;
    font-size: 20px;
    margin: 0 25px;
    cursor: pointer;
}

.mappage-icons-active {
    color: #6400e1;
}

.mappage-icons:hover {
    color: #6400e1;
}

.mappage-searchList {
    width: 40%;
    height: 100vh;
    background-color: aqua;
}

.mappage-map, .mappage-show-map {
    position: relative;
    width: 60%;
    height: 100vh;
    background-color: antiquewhite;
}

.map-style {
    width: 100%;
    height: 100%;
}

.mappage-searchBar {
    position: absolute;
    top: 45px;
    left: 15%;
    width: 70%;
    height: 45px;
    display: flex;
    align-items: center;
    z-index: 1;
    border-radius: 100px;
    background-color: white;
}

.mappage-key, .mappage-place {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}

.mappage-key > input, .mappage-place > input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid #fcfcfc;
}

.mappage-place {
    flex: 1;
}

.mappage-key > input:focus, .mappage-place > input:focus {
    border-bottom: 2px solid #6400e1;
    transition-duration: 0.4s;
}

.mappage-searchBar-icons {
    font-size: 18px;
    color: #575757;
    padding: 0 10px;
}

.mappage-searchBar-btn {
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    height: 100%;
    letter-spacing: 1px;
    padding: 0 7px;
    margin-left: 15px;
    border-radius: 100px;
    border: none;
    background-color: #efefef;
    box-shadow: 0 0 5px #efefef;
}

.mappage-mapToggle {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #6400e1;
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 50%;
    background-color: #f0f0f0;
}

@media only screen and (max-width: 1186px) {
    .mappage-searchBar {
        width: 90%;
        left: 5%;
    }
}

@media only screen and (max-width: 1000px) {
    .mappage-navbar {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .mappage-searchList {
        width: 100%;
    }

    .mappage-map {
        display: none;
    }

    .mappage-show-map {
        position: absolute;
        left: 0;
        width: 100%;
    }

    .mappage-mapToggle {
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    .mappage-searchBar {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        min-height: 45px;
        display: block;
        z-index: 1;
        border-radius: 0;
        background-color: transparent;
    }
    
    .mappage-key, .mappage-place {
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;
    }
    
    .mappage-key > input, .mappage-place > input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        letter-spacing: 1px;
        border: none;
        border-bottom: 2px solid #fcfcfc;
    }
    
    .mappage-place {
        flex: 1;
    }
    
    .mappage-key > input:focus, .mappage-place > input:focus {
        border-bottom: 2px solid #fff;
    }
    
    .mappage-searchBar-icons {
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        background-color: white;
    }
    
    .mappage-searchBar-btn {
        cursor: pointer;
        font-size: 14px;
        width: 95%;
        height: 100%;
        letter-spacing: 1px;
        padding: 0 7px;
        /* margin-left: 0; */
        margin: auto;
        border-radius: 100px;
        border: none;
        background-color: #efefef;
        box-shadow: 0 0 5px #efefef;
    }

}

@media only screen and (max-width: 280px) {
    .mappage-navbar {
        justify-content: space-evenly;
    }

    .mappage-logo {
        font-size: 16px;
        flex: 0;
    }

}